@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Roboto:wght@400;500&display=swap");

* {
    margin            : 0;
    padding           : 0;
    outline           : 0;
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
}

html {
    font-size      : 62.5%;
    scroll-behavior: smooth;
}

/* Variable */
:root {
    /* Color */
    --primary      : #7857FE;
    --heading__span: #8f77fc;
    --danger       : #E91E63;
    --warning      : #F5AE10;
    --success      : #09D69C;
    --light        : #FFFFFF;
    --gray         : #868686;
    --light-gray   : #EDEDED;
    --dark         : #000000;

    /* Font */
    --lato  : 'Lato', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: var(--lato);
}

p {
    font-family: var(--roboto);
    color      : var(--gray);
}

.btn {
    background-color         : var(--light);
    font-size                : 1.8rem;
    font-weight              : 500;
    font-family              : var(--roboto);
    color                    : var(--primary);
    width                    : 20rem;
    height                   : 5rem;
    border-radius            : 5rem;
    box-shadow               : 0 0 1.7rem -.3rem var(--light-gray);
    animation-iteration-count: infinite;
    transition               : .3s;


}

.hero__download__icon {
    animation: fadeIn 1s linear infinite;
}
.hero__download__icon:hover{
    animation: none;
   
    
}



// @keyframes fadeIn {
//     0% {
//         box-shadow: 0 0 1.7rem -.3rem #FFFFFF;
//         transform: scale(.80);
//     }

//     25% {
//         box-shadow: 0 0 1.7rem 1rem rgba(255, 255, 255, 0.843);
//     }

//     50% {
//         box-shadow: 0 0 1.7rem 2rem #ffffff79;
//         transform: scale(1.2);
//     }

//     75% {
//         box-shadow: 0 0 1.7rem 5rem #ffffff21;
//     }

//     100% {
//         box-shadow: 0 0 1.7rem 7rem #ffffff00;
//         transform: scale(.80);
//     }
// }

.btn:hover {
    box-shadow: 0 0 1.7rem 0.7rem var(--light-gray);
    color     : var(--primary);
}

.btn__circle {
    width: 5rem;
}

/* Header */
#header {
    overflow: hidden;
}

.navbar__bg {
    background: var(--primary) !important;
    padding   : 0;
}

.navbar__log {
    font-size  : 4rem;
    font-family: var(--lato);
}

.nav-link {
    font-size  : 2rem;
    font-family: var(--roboto);
    color      : var(--light) !important;
    margin-left: 2rem;
    position   : relative;
}

.nav-link::after {
    content           : "";
    width             : 100%;
    height            : .3rem;
    background        : var(--light);
    position          : absolute;
    top               : 7rem;
    left              : 0;
    -webkit-transform : scale(0);
    transform         : scale(0);
    -webkit-transition: .5s;
    transition        : .5s;
    margin            : 0 auto;
    border-radius     : .5rem;
}

.nav-link:hover::after {
    -webkit-transform: scale(1);
    transform        : scale(1);
}

.nav-item {
    min-height : 100px;
    height     : 100%;
    line-height: 100px;
}

.dropdown__toggle {
    position: relative;
}

.dropdown__menu {
    position             : absolute;
    background           : var(--light);
    -webkit-box-orient   : vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction   : column !important;
    flex-direction       : column !important;
    width                : 30rem;
    left                 : -40px;
    top                  : 140%;
    opacity              : 0;
    visibility           : hidden;
    transition           : .5s;
    border-radius        : .5rem;
    z-index              : 99999;
}

.dropdown__toggle:hover .dropdown__menu {
    opacity   : 1;
    visibility: visible;
    top       : 100%;
}

.dropdown__menu:hover {
    opacity   : 1;
    visibility: visible;
    top       : 100%;
}

.dropdown__menu .nav-item {
    min-height : 70px;
    height     : 100%;
    line-height: 70px;
}

.dropdown__menu .nav-link {
    color      : var(--dark) !important;
    margin-left: 0;
    transition : .3s;
}

.dropdown__menu .nav-link::after {
    display: none;
}

.dropdown__menu .nav-link:hover {
    transform: scale(.80);
}

.dropdown__menu .nav-link .toggler__icon {
    margin-left: .3rem;

}

.dropdown__toggle .toggler__icon>i {
    transform : rotate(180deg);
    transition: .3s;
}

.dropdown__toggle:hover .toggler__icon>i {
    transform: rotate(0deg);
}

.menu__icon {
    width: 4rem;
}

// Hero Section
.hero {
    height       : 83.6rem;
    background   : var(--primary);
    border-radius: 0 0 23rem 0;
    position     : relative;
}

.hero__row {
    padding-top: 7rem;
}

.hero__app__intro .button__group {
    margin-top: 5rem !important;
}

.hero__app__intro h1 {
    color      : var(--light);
    font-size  : 6rem;
    font-weight: 900;
}

.hero__app__intro p {
    color      : var(--light-gray);
    font-weight: 400;
    font-size  : 1.8rem;

}

.hero__app__interface img {
    width: 30rem;
}

.hero__img__circle {
    border       : 1px solid var(--light-gray);
    width        : 500px;
    height       : 500px;
    border-radius: 50%;
    position     : absolute;
    top          : 50%;
    left         : 50%;
    transform    : translate(-50%, -50%);
}

.hero__img__circle .inner__img__circle {
    width        : 10rem;
    height       : 10rem;
    background   : red;
    border-radius: 50%;
}

.hero__bg__icon {
    position : absolute;
    top      : 0;
    left     : 40rem;
    font-size: 3rem;
    display  : inline-block;
}

.first__icon {
    color: var(--success);
    top  : 66%;
    left : 15%;
}

.second__icon {
    color: var(--warning);
    left : 47rem;
    top  : 5rem;
}

.third__icon {
    color: var(--heading__span);
    left : 85%;
}