@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Roboto:wght@400;500&display=swap");

* {
  margin            : 0;
  padding           : 0;
  outline           : 0;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
}

html {
  font-size      : 62.5%;
  scroll-behavior: smooth;
}

/* Variable */
:root {
  /* Color */
  --primary   : #7857FE;
  --danger    : #E91E63;
  --warning   : #F5AE10;
  --success   : #09D69C;
  --light     : #FFFFFF;
  --gray      : #868686;
  --light-gray: #EDEDED;
  --dark      : #000000;
  /* Font */
  --lato      : 'Lato', sans-serif;
  --roboto    : 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--lato);
}

p {
  font-family: var(--roboto);
  color      : var(--gray);
}

/* Header */
#header {
  overflow: hidden;
}

.navbar__bg {
  background: var(--primary) !important;
  padding   : 0;
}

.navbar__log {
  font-size  : 4rem;
  font-family: var(--lato);
}

.nav-link {
  font-size  : 2rem;
  font-family: var(--roboto);
  color      : var(--light) !important;
  margin-left: 2rem;
  position   : relative;
}

.nav-link::after {
  content           : "";
  width             : 100%;
  height            : .3rem;
  background        : var(--light);
  position          : absolute;
  top               : 7rem;
  left              : 0;
  -webkit-transform : scale(0);
  transform         : scale(0);
  -webkit-transition: .5s;
  transition        : .5s;
  margin            : 0 auto;
  border-radius     : .5rem;
}

.nav-link:hover::after {
  -webkit-transform: scale(1);
  transform        : scale(1);
}

.nav-item {
  min-height : 100px;
  height     : 100%;
  line-height: 100px;
}

.dropdown__toggle {
  position: relative;
}

.dropdown__menu {
  position             : absolute;
  background           : var(--light);
  -webkit-box-orient   : vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction   : column !important;
  flex-direction       : column !important;
  width                : 30rem;
}

.dropdown__menu .nav-item {
  min-height : 70px;
  height     : 100%;
  line-height: 70px;
}

.dropdown__menu .nav-link {
  color      : var(--dark) !important;
  margin-left: 0;
}

.dropdown__menu .nav-link::after {
  display: none;
}

.hero {
  height: 100vh;
}