@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Roboto:wght@400;500&display=swap");

* {
  margin            : 0;
  padding           : 0;
  outline           : 0;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
}

html {
  font-size      : 62.5%;
  scroll-behavior: smooth;
}

body {
  padding-top: 11rem;
}

/* Variable */
:root {
  /* Color */
  --primary      : #7857FE;
  --heading__span: #8f77fc;
  --danger       : #E91E63;
  --warning      : #F5AE10;
  --success      : #09D69C;
  --light        : #FFFFFF;
  --gray         : #868686;
  --light-gray   : #EDEDED;
  --dark         : #000000;
  --text-block   : rgb(95, 93, 93);
  /* Font */
  --lato         : 'Lato', sans-serif;
  --roboto       : 'Roboto', sans-serif;
}

h1,
h3,
h4 {
  font-family: var(--lato);
}

h2 {
  font-family: var(--roboto);
  color      : var(--gray);
}

.btn {
  background-color                 : var(--light);
  font-size                        : 1.8rem;
  font-weight                      : 500;
  font-family                      : var(--roboto);
  color                            : var(--primary);
  width                            : 20rem;
  height                           : 5rem;
  border-radius                    : 5rem;
  -webkit-box-shadow               : 0 0 2rem rgba(13, 14, 54, 0.247);
  box-shadow                       : 0 0 2rem rgba(13, 14, 54, 0.247);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count        : infinite;
  -webkit-transition               : .3s;
  transition                       : .3s;
  text-decoration                  : none;
  line-height                      : 4rem;
}

.hero__download__icon {
  -webkit-animation: fadeIn 1s linear infinite;
  animation        : fadeIn 1s linear infinite;
}

.hero__download__icon:hover {
  -webkit-animation: none;
  animation        : none;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-box-shadow: 0 0 1.7rem -.3rem #FFFFFF;
    box-shadow        : 0 0 1.7rem -.3rem #FFFFFF;
    -webkit-transform : scale(0.98);
    transform         : scale(0.98);
  }

  50% {
    -webkit-box-shadow: 0 0 1.7rem 2rem #ffffff00;
    box-shadow        : 0 0 1.7rem 2rem #ffffff00;
    -webkit-transform : scale(1.2);
    transform         : scale(1.2);
  }

  100% {
    -webkit-box-shadow: 0 0 1.7rem 2rem #ffffff00;
    box-shadow        : 0 0 1.7rem 2rem #ffffff00;
    -webkit-transform : scale(0.98);
    transform         : scale(0.98);
  }
}

@keyframes fadeIn {
  0% {
    -webkit-box-shadow: 0 0 1.7rem -.3rem #FFFFFF;
    box-shadow        : 0 0 1.7rem -.3rem #FFFFFF;
    -webkit-transform : scale(0.98);
    transform         : scale(0.98);
  }

  50% {
    -webkit-box-shadow: 0 0 1.7rem 2rem #ffffff00;
    box-shadow        : 0 0 1.7rem 2rem #ffffff00;
    -webkit-transform : scale(1.2);
    transform         : scale(1.2);
  }

  100% {
    -webkit-box-shadow: 0 0 1.7rem 2rem #ffffff00;
    box-shadow        : 0 0 1.7rem 2rem #ffffff00;
    -webkit-transform : scale(0.98);
    transform         : scale(0.98);
  }
}

.btn:hover {
  background: var(--primary);
  color     : var(--light);
}

.btn__circle {
  width: 5rem;
}

/* Header */
#header {
  overflow: hidden;
}

.navbar__bg {
  background: var(--primary) !important;
  padding   : 0;
}

.navbar__log {
  font-size  : 4rem;
  font-family: var(--lato);
}

.nav-link {
  font-size  : 2rem;
  font-family: var(--roboto);
  color      : var(--light) !important;
  margin-left: 2rem;
  position   : relative;
}

.nav-link::after {
  content           : "";
  width             : 100%;
  height            : .3rem;
  background        : var(--light);
  position          : absolute;
  top               : 7rem;
  left              : 0;
  -webkit-transform : scale(0);
  transform         : scale(0);
  -webkit-transition: .5s;
  transition        : .5s;
  margin            : 0 auto;
  border-radius     : .5rem;
}

.nav-link:hover::after {
  -webkit-transform: scale(1);
  transform        : scale(1);
}

.nav-item {
  min-height : 10rem;
  height     : 100%;
  line-height: 10rem;
}

.dropdown__toggle {
  position: relative;
}

.dropdown__menu {
  position             : absolute;
  background           : var(--light);
  -webkit-box-orient   : vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction   : column !important;
  flex-direction       : column !important;
  width                : 30rem;
  left                 : -4rem;
  top                  : 140%;
  opacity              : 0;
  visibility           : hidden;
  -webkit-transition   : .5s;
  transition           : .5s;
  border-radius        : .5rem;
  z-index              : 99999;
}

.dropdown__toggle:hover .dropdown__menu {
  opacity   : 1;
  visibility: visible;
  top       : 100%;
}

.dropdown__menu:hover {
  opacity   : 1;
  visibility: visible;
  top       : 100%;
}

.dropdown__menu .nav-item {
  min-height : 7rem;
  height     : 100%;
  line-height: 7rem;
}

.dropdown__menu .nav-link {
  color             : var(--dark) !important;
  margin-left       : 0;
  -webkit-transition: .3s;
  transition        : .3s;
}

.dropdown__menu .nav-link::after {
  display: none;
}

.dropdown__menu .nav-link:hover {
  -webkit-transform: scale(0.8);
  transform        : scale(0.8);
}

.dropdown__menu .nav-link .toggler__icon {
  margin-left: .3rem;
}

.dropdown__toggle .toggler__icon>i {
  -webkit-transform : rotate(180deg);
  transform         : rotate(180deg);
  -webkit-transition: .3s;
  transition        : .3s;
}

.dropdown__toggle:hover .toggler__icon>i {
  -webkit-transform: rotate(0deg);
  transform        : rotate(0deg);
}

.menu__icon {
  width: 4rem;
}

.hero {
  height       : 83.6rem;
  background   : var(--primary);
  border-radius: 0 0 23rem 0;
  position     : relative;
  overflow     : hidden;
}

.lightDark {
  background   : var(--dark);
  width        : 5rem;
  height       : 5rem;
  border-radius: 50%;
  position     : fixed;
  bottom       : 2rem;
  right        : 2rem;
  cursor       : pointer;
  opacity      : .8;
  z-index      : 999999999999;
}

.lightDark .fa {
  color    : var(--light);
  font-size: 2rem;
}

.hero__row {
  padding-top: 7rem;
}

.hero__app__intro .button__group {
  margin-top: 5rem !important;
}

.hero__app__intro h1 {
  color      : var(--light);
  font-size  : 6rem;
  font-weight: 900;
}

.hero__app__intro p {
  color      : var(--light-gray);
  font-weight: 400;
  font-size  : 1.8rem;
}

.hero__app__interface img {
  width: 30rem;
}

.hero__img__circle {
  border           : 0.1rem solid var(--light-gray);
  width            : 50rem;
  height           : 50rem;
  border-radius    : 50%;
  position         : absolute;
  top              : 50%;
  left             : 50%;
  -webkit-transform: translate(-50%, -50%);
  transform        : translate(-50%, -50%);
  opacity          : .6;
}

.hero__img__circle::before {
  content                 : '';
  position                : absolute;
  z-index                 : 1;
  width                   : 9rem;
  height                  : 9rem;
  background-color        : var(--light);
  border-radius           : 50%;
  top                     : 4.6rem;
  left                    : 1rem;
  opacity                 : .8;
  -webkit-transform-origin: 23.2rem 20.4rem;
  transform-origin        : 23.2rem 20.4rem;
  -webkit-animation       : rotateCircle 5s linear infinite;
  animation               : rotateCircle 5s linear infinite;
}

@-webkit-keyframes rotateCircle {
  0% {
    -webkit-transform: rotate(0deg);
    transform        : rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform        : rotate(360deg);
  }
}

@keyframes rotateCircle {
  0% {
    -webkit-transform: rotate(0deg);
    transform        : rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform        : rotate(360deg);
  }
}

.hero__bg__icon {
  position         : absolute;
  top              : 0;
  left             : 40rem;
  font-size        : 3rem;
  display          : inline-block;
  -webkit-animation: iconAnimation 5s linear infinite;
  animation        : iconAnimation 5s linear infinite;
}

@-webkit-keyframes iconAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform        : rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform        : rotate(360deg);
  }
}

@keyframes iconAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform        : rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform        : rotate(360deg);
  }
}

.first__icon {
  color: var(--success);
  top  : 71%;
  left : 15%;
}

.second__icon {
  color: var(--warning);
  left : 47rem;
  top  : 5rem;
}

.third__icon {
  color: var(--heading__span);
  left : 85%;
}

/* features */
.features {
  background: var(--light);
  padding   : 8rem;
}

.features h2 {
  font-weight  : 900;
  font-size    : 5rem;
  color        : var(--dark);
  margin-bottom: 8rem;
}

.features h2 span {
  color: var(--primary);
}

.features .owl-theme {
  cursor: pointer !important;
}

.features__box {
  width             : 40rem;
  height            : 32rem;
  background        : var(--light);
  padding           : 1.5rem;
  border-radius     : 1rem;
  -webkit-box-shadow: 0 0 1rem 0.5rem var(--light-gray);
  box-shadow        : 0 0 1rem 0.5rem var(--light-gray);
  margin            : 1rem;
}

.features__box .features__box__icon {
  color      : var(--primary);
  font-size  : 3.5rem;
  font-weight: 900;
}

.features__box h3 {
  font-size: 2.5rem;
  margin   : 3rem;
}

.features__box p {
  font-size  : 1.8rem;
  font-weight: 400;
  color      : var(--text-block);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot {
  -webkit-transition: .5s !important;
  transition        : .5s !important;
  display           : inline-block;
  outline           : none;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: var(--primary);
  width     : 4rem;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--primary);
}

/*# sourceMappingURL=style.css.map */